@font-face {
    font-family: bahnschrift;
    src: url(../fonts/bahnschrift.ttf) format("truetype");
}

*{
  font-family: bahnschrift;
}

body {
    margin: 0;
    background-color: #131419;
}

.header {
    font-size: 25px;
    text-align: center;
    background-color: #efff1c;
}

.header * {
    padding: 20px 10px;
    margin: 0;
}

.header > img {
    width: 92px;
    float: left;
}

.header > h1 {
    padding-top: 300px;
}

.main {
    font-size: 25px;
    text-align: center;
    color: white;
}