<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#efff1c">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="application-name" content="Vyhledávání pozemků">
        <title>Vyhledávání pozemků</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="header"><img src="media/logo-placeholder.jpg"><h1>Vyhledat</h1></div>
        <div class="main"><h1>Lorem impsum</h1></div>
    </body>
</html>
