<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#efff1c">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Vyhledávání pozemků">
    <title>Vyhledávání pozemků</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://kit.fontawesome.com/b2eb7a5872.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="header"><img src="media/logo-placeholder.jpg">
        <h1>Vyhledat pozemek</h1>
    </div>
    <div class="main">
        <div class="wrap">
            <div class="search">
                <input type="text" class="searchTerm" placeholder="Hledejte pozemek podle příjmení">
                <button type="submit" class="searchButton">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <h1>Výsledek</h1>
        </div>
    </div>
</body>

</html>
